numpy
h5py
scipy
matplotlib
pyqt5
numexpr
pandas
Pillow
# tikzplotlib
#-e git+ssh://git@github.com/JulesColas97/tikzplotlib.git#egg=tikzplotlib
-e git+ssh://git@gitlab.pmcs2i.ec-lyon.fr/jcolas/tikzplotlib.git#egg=tikzplotlib
pyshtools
python-sofa
sounddevice
tqdm
typing
func-timeout
-e src/
